<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day</title>
    <link rel="stylesheet" href="/stylesheets/setting.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="input-form-backgroud row">
        <div class="input-form col-md-6 mx-auto">
          <h4 class="mb-3">기본 설정</h4>

          <form
            action="/membership/tutorial"
            method="post"
            class="validation-form"
            novalidate
          >
          <input class="mb-1" type="button" value="+" onClick="plus()">
          <input class="mb-1" type="button" value="-" onClick="minus()">
          <div class="mb-1 form-floating">
          <div id="textarea">         
              <div id="ta"></div>
              <script type="text/javascript" src="/javascripts/create_textarea.js"></script>
            </div>
          </div>

          <!-- 글 추가시 텍스트 날아가는거 저장하는 기능 추ㅏ-->
          <div class="mb-4"></div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              작성 완료
            </button>
        </div>
      </div>
    </div>
</html>
