<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><a href="/">Day</a></h1>
        <div class="nav">
          <ul>
            <script src="/javascripts/list.js"></script>
          </ul>
        </div>
      </div>
      <div class="hero">
        <h2>마이페이지</h2>
      </div>
    </div>
  </body>
</html>
