<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day</title>
    <link rel="stylesheet" href="/stylesheets/setting.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="input-form-backgroud row">
        <div class="input-form col-md-6 mx-auto">
          <h4 class="mb-3">기본 설정</h4>

          <form
            action="/membership/tutorial"
            method="post"
            class="validation-form"
            novalidate
          >
            <div class="col-md-8 mb-3">
              <label for="root">기상시간</label>
              <div class="wakeup">
                <select class="mb-3 custom-select d-block w-50" id="wakeup">
                  <script>
                    let wakeup_hour = "";
                    for (let i = 0; i < 24; i++) {
                      wakeup_hour += `<option>${i + 1}시</option>`;
                    }
                    document.write(wakeup_hour);
                  </script>
                </select>
                <select class="custom-select d-block w-50" id="root">
                  <script>
                    let wakeup_minute = "";
                    for (let i = 0; i < 24; i++) {
                      wakeup_minute += `<option>${i + 1}분</option>`;
                    }
                    document.write(wakeup_minute);
                  </script>
                </select>
              </div>
            </div>
            <div class="col-md-8 mb-3">
              <label for="sleep">기상시간</label>
              <div class="sleep">
                <select class="mb-3 custom-select d-block w-50" id="sleep">
                  <script>
                    let sleep_hour = "";
                    for (let i = 0; i < 24; i++) {
                      sleep_hour += `<option>${i + 1}시</option>`;
                    }
                    document.write(sleep_hour);
                  </script>
                </select>
                <select class="custom-select d-block w-50" id="sleep">
                  <script>
                    let sleep_minute = "";
                    for (let i = 0; i < 24; i++) {
                      sleep_minute += `<option>${i + 1}분</option>`;
                    }
                    document.write(sleep_minute);
                  </script>
                </select>
              </div>
            </div>
            <div class="mb-4"></div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              가입 완료
            </button>
          </form>
        </div>
      </div>
      <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 2022 Day</p>
      </footer>
    </div>
    <script>
      window.addEventListener(
        "load",
        () => {
          const forms = document.getElementsByClassName("validation-form");

          Array.prototype.filter.call(forms, (form) => {
            form.addEventListener(
              "submit",
              function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }

                form.classList.add("was-validated");
              },
              false
            );
          });
        },
        false
      );
    </script>
  </body>
</html>
